@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Sintony&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}


body{
  background-image: url(/images/background.jpg);
  width: 100%;
  max-width: 445px;
  height: 100vh;
}

.container{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
}

.container h1{
  color: white;
  padding: .8rem 1rem;
  font-size: 40px;
  padding: 2rem;
}

.container [type="text"]{
  height: 1.5rem;
  width: 50%;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
  margin: 0 50px;
  padding: 1rem 2rem;
}

::placeholder{
  color: rgb(17, 147, 190);
}

.container [type="submit"]{
  width: 25%;
  padding: 3% 5%;
  margin: .3rem 0;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
  transition: .5s ease-in-out;
  font-weight: bold;
  margin-top: 1.5rem;
}

.container [type="submit"]:hover{
  background: white;
  color: black;
  font-weight: bold;
}

.showData{
  margin: 80px 0;
  line-height: 1.6;
}

.showData ul{
  list-style-type: none;
}

.showData .city{
  font-size: 5rem;
  color: white;
}

.showData .temp{
  font-size: 4rem;
  font-weight: bold;
}

.showData .desc{
  font-size: 2rem;
  text-transform: capitalize;

}